p{
    color:blue;
    background:yellow;
    padding:  15px 5px 15px 5px;

}

body{
    font-family: "Helvetica","Lucida Grande", sans-serif;
    COLOR: #3D3D3D;
}

Subtitle{
    background-color: #fff;
}

#Subtitle:hover{
    color:#0000ff;
}

h1{
    background-color: #E1EDF2;
}

h2{
    border-bottom: 2px solid black;
}

figure{
    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;

}